<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div th:replace="~{component/header :: header}"></div>
<div th:replace="~{component/nav :: nav}"></div>
  <h2>상세정보</h2>
<table>
    <tr>
        <th>아이디</th>
        <th>이메일</th>
        <th>이름</th>
        <th>생년월일</th>
        <th>전화번호</th>
    </tr>
    <tr>
        <td th:text="${member.id}"></td>
        <td th:text="${member.memberEmail}"></td>
        <td th:text="${member.memberName}"></td>
        <td th:text="${member.memberBirth}"></td>
        <td th:text="${member.memberMobile}"></td>
    </tr>
</table>
<div th:replace="~{component/footer :: footer}"></div>
</body>
</html>